<div class="card-body wrapper">
    <div class="row">
                
                            <div class="col-md-12 col-lg-3">
                                <div class="card type--profile">
                                    <header class="card-heading">
                                            <img src="assets/img/profiles/05.jpg" alt="" class="img-circle"/>
                                            <ul class="card-actions icons right-top">
                                                <li class="dropdown">
                                                    <a href="javascript:void(0)" data-toggle="dropdown">
                                                        <i class="zmdi zmdi-more-vert"></i>
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-menu-right btn-primary">
                                                        <li>
                                                            <a href="javascript:void(0)">Edit Profile</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                    </header>
                                        <div class="card-body">
                                            <h3 class="name">Sarah Lee</h3>
                                            <span class="title">UI/UX Designer</span>
                                            <button type="button" class="btn btn-primary btn-round">Connect</button>
                                        </div>
                                        <footer class="card-footer border-top">
                                                <div class="row row p-t-10 p-b-10">
                                                <div class="col-xs-4"><span class="count">250</span><span>Post</span></div>
                                                <div class="col-xs-4"><span class="count">1.5m</span><span>Followers</span></div>
                                                <div class="col-xs-4"><span class="count">627</span><span>Following</span></div>
                                            </div>
                                        </footer>
                                </div>	
                            </div>
                    <div class="col-md-12 col-lg-8">
                                <div class="card">
                                    <header class="card-heading p-0">
                                            <div class="tabpanel m-b-30">
                                                    <ul class="nav nav-tabs nav-justified">
                                                        <li class="active " role="presentation"><a href="#profile-timeline" data-toggle="tab" aria-expanded="true">Musics</a></li>
                                                        <li role="presentation"><a href="#profile-about" data-toggle="tab" aria-expanded="true">About</a></li>
                                                        <li role="presentation"><a href="#profile-contacts" data-toggle="tab" aria-expanded="true">Contacts</a></li>
                                                    </ul>
                                            </div>
                                        </header>
                                <div class="card-body">
                                <div class="tab-content">
                                                    <div class="tab-pane fadeIn active" id="profile-timeline">
                                                        contenido elilminado
                                                    </div>
                                                    <div class="tab-pane fadeIn" id="profile-about">
                                                    contenido elilminado
                                                    </div>
                                                    <div class="tab-pane fadeIn" id="profile-contacts">
                                                            contenido elilminado	
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                    <!-- fixed -->
                </div>
</div> 