.flaticon-accordion:before {
	content: "\e001";
}
.flaticon-choir-1:before {
	content: "\e002";
}
.flaticon-choir:before {
	content: "\e003";
}
.flaticon-composer:before {
	content: "\e004";
}
.flaticon-conductor:before {
	content: "\e005";
}
.flaticon-cymbals-1:before {
	content: "\e006";
}
.flaticon-cymbals:before {
	content: "\e007";
}
.flaticon-dj-1:before {
	content: "\e008";
}
.flaticon-dj:before {
	content: "\e009";
}
.flaticon-drummer-1:before {
	content: "\e00a";
}
.flaticon-drummer-2:before {
	content: "\e00b";
}
.flaticon-drummer:before {
	content: "\e00c";
}
.flaticon-duet-1:before {
	content: "\e00d";
}
.flaticon-duet:before {
	content: "\e00e";
}
.flaticon-electric-guitar-1:before {
	content: "\e00f";
}
.flaticon-electric-guitar-2:before {
	content: "\e010";
}
.flaticon-electric-guitar-3:before {
	content: "\e011";
}
.flaticon-electric-guitar:before {
	content: "\e012";
}
.flaticon-flute-1:before {
	content: "\e013";
}
.flaticon-flute:before {
	content: "\e014";
}
.flaticon-guitar-1:before {
	content: "\e015";
}
.flaticon-guitar-2:before {
	content: "\e016";
}
.flaticon-guitar:before {
	content: "\e017";
}
.flaticon-harp:before {
	content: "\e018";
}
.flaticon-keytar:before {
	content: "\e019";
}
.flaticon-maracas:before {
	content: "\e01a";
}
.flaticon-orchestra:before {
	content: "\e01b";
}
.flaticon-percussion-instrument:before {
	content: "\e01c";
}
.flaticon-piano-1:before {
	content: "\e01d";
}
.flaticon-piano:before {
	content: "\e01e";
}
.flaticon-saxophone-1:before {
	content: "\e01f";
}
.flaticon-saxophone:before {
	content: "\e020";
}
.flaticon-singer-1:before {
	content: "\e021";
}
.flaticon-singer-2:before {
	content: "\e022";
}
.flaticon-singer-3:before {
	content: "\e023";
}
.flaticon-singer-4:before {
	content: "\e024";
}
.flaticon-singer-5:before {
	content: "\e025";
}
.flaticon-singer:before {
	content: "\e026";
}
.flaticon-tambourine-1:before {
	content: "\e027";
}
.flaticon-tambourine:before {
	content: "\e028";
}
.flaticon-triangle:before {
	content: "\e029";
}
.flaticon-trombone-1:before {
	content: "\e02a";
}
.flaticon-trombone:before {
	content: "\e02b";
}
.flaticon-trumpet-1:before {
	content: "\e02c";
}
.flaticon-trumpet:before {
	content: "\e02d";
}
.flaticon-tuning-fork:before {
	content: "\e02e";
}
.flaticon-ukelele:before {
	content: "\e02f";
}
.flaticon-violin-1:before {
	content: "\e030";
}
.flaticon-violin:before {
	content: "\e031";
}
.flaticon-violoncello:before {
	content: "\e032";
}
@font-face {
	font-family: "flaticon";
	src: url("./flaticon.eot");
	src: url("./flaticon.eot?#iefix") format("embedded-opentype"),
	url("./flaticon.woff") format("woff"),
	url("./flaticon.ttf") format("truetype"),
	url("./flaticon.svg#flaticon") format("svg");
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: "flaticon";
}
