.container__music{
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: #42a5f5;
    position: relative;
    padding: 20px;
    flex-wrap: wrap;
  
}

.container__music .col-music{
    width: 100%;
    height: 100%;
    max-width: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__music .col-music:first-child{
    width: 400px;
    height: 300px;
}
.container__music .col-music:last-child{
    width: 300px;
    flex-grow: 1;
}

.zone_drop {
    position: relative;
    width: 100%;
    min-height: 400px;
    background: #fff;
    border: #42a5f5 dashed 8px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__music .col-music .active_drop{
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 0px;
    bottom: 0px;
    transform: translateX(-50%);
    background: #42a5f5;
    border: #fff dashed 8px;
    
 }

 .container__music .col-music .active_error{
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 0px;
    bottom: 0px;
    transform: translateX(-50%);
    background: #f00;
    border: #fff dashed 8px;
    color: #fff;
    
 }
 .container__music .col-music  .upload-info {
    position: absolute;
    z-index: 10;
    top: 20px;
    padding: 10px;
    width: 100%;
    left: 0px;
    display: flex;
    flex-direction: column;
    line-height: 20px;
 }
 .container__music .col-music  .upload-info p{
     line-height: 20px;
     font-size: 18px;
     margin: 0px;
 }
 .active_error .upload-error h3 {
color: #fff;
font-size: 25px;
 }

 .container__music .col-music .btn-upload{
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: #42a5f5;
    font-size: 32px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container__music .col-music .active_drop .btn-upload{
    background: #fff;
    color: #42a5f5;
  
}
.upload-error{
    position: absolute;
    top: 20px;
    padding: 10px;
}
.form-upload{
    width: 100%;
}
/**/
.container-limit-upload{
    position: absolute;
    width: 100%;
    height: auto;
    top:0px;
    left: 0px;
    bottom: 0px;
    z-index: 10;
    background: red;
}
.thumb-previes{
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #f55;
    z-index: 15;
}
.thumb-previes img{
    border-radius: 10px;
    z-index: -1;
    max-width: 90%;
}
.thumb-previes .btn{
    position: absolute;
}